@using NackowskisAuctionHouse.ViewModels;

@model List<MessageVM>

    <a  class="btn" id="messageButton" data-toggle="collapse" href="#messageCollapse" role="button" aria-controls="messageCollapse" aria-expanded="false">
        <i class="far fa-envelope"></i>
    </a>
    @*<button id="messageButton" class="btn" type="button" data-toggle="collapse" data-target="#messageCollapse" aria-expanded="false" aria-controls="messageCollapse">
        <i class="far fa-envelope"></i>
    </button>*@
    

    <div class="collapse" id="messageCollapse">
        <div class="card card-body">
            <table>
                <tbody>
                    @foreach (var message in @Model)
                    {
                        if (!message.MessageRead)
                        {
                            <tr>
                                <td>@message.Title @message.TimeStamp</td>
                                <td></td>
                            </tr>
                        }

                    }


                </tbody>
            </table>
            
        </div>
    </div>
@*<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Link with href
    </a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Button with data-target
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
</div>*@
        


