@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity
@using NackowskisAuctionHouse.DAL.IdentityModels;
@using NackowskisAuctionHouse.ViewModels;

@model SignInVM

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <li class="nav-item">

        <a asp-area="Identity" class="nav-link" asp-page="/Account/Manage/Index" title="Manage"><i class="fas fa-user-circle"></i>  @UserManager.GetUserName(User)</a>
    </li>
    <li class="nav-item">
        <form asp-controller="Account" asp-action="SignOut" id="logoutForm" class="navbar-right text-muted">
            <button type="submit" class="btn btn-link navbar-btn navbar-link text-muted">Logga ut</button>
        </form>
    </li>
}
else
{

    <li class="nav-item">
        <a data-toggle="ajax-register-modal" data-url="@Url.Action("Register", "Account")" data-target="#registerModal" class="nav-link" href="#registerModal">Skapa konto</a>


    </li>
    <li class="nav-item">
        <a class=" nav-link" data-toggle="ajax-login-modal" data-url="@Url.Action("SignIn", "Account")" href="#" data-target="#signinModal">Logga in</a>

    </li>
    <div id="signin-modal-placeholder"></div>
    <div id="register-modal-placeholder"></div>

}










